@import '../../../../sassStyles/variables';

#product-details {
  display: flex;
  // flex-wrap: wrap;
  margin: 15px 80px;

  .single-product-img {
    width: 28%;

    .small-img-group {
      display: flex;
      justify-content: space-between;

      .small-img-column {
        flex-basis: 24%; /* giống như set width cho phần tử */
        cursor: pointer;
      }
    }
  }

  .product-notes {
    padding: 13px;
    background-color: $white;
    width: 22%;

    .free-shipping {
      display: flex;
      align-items: center;
      padding-bottom: 13px;
      border-bottom: 1px dashed #e0e0e0;

      span {
        color: #53c305;
        font-size: 14px;
        margin-left: 8px;
      }
    }

    .policy,
    .other-service {
      h2 {
        font-size: 15px;
        margin-bottom: 12px;
        margin-top: 18px;
      }

      i {
        color: $primary-color;
        font-size: 22px;
        margin-right: 8px;
      }

      span {
        font-size: 15px;
      }
    }

    .policy {
      .policy-item {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }
    }

    .other-service {
      .other-service-item {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }
    }
  }

  .single-product-details {
    width: 50%;
    padding: 20px 10px 10px 10px;
    margin: 0 16px 0 0;
    background-color: $white;

    .quantity-input {
      width: 42px;
      height: 28px;
      font-size: 15px;
      text-align: center;
      border: 1px solid rgb(236, 236, 236);
    }

    .below-title {
      display: flex;
      align-items: center;

      .quantity_sold {
        margin-left: 10px;
        margin-bottom: 1.5px;
        font-size: 15px;
        color: rgb(120, 120, 120);
        border-left: 1px solid rgb(199, 199, 199);
        padding-left: 10px;
      }

      .product-star {
        i {
          color: rgb(243, 181, 25);
        }
      }
    }

    h2 {
      color: $primary-color;
      font-size: 26px;
      margin-top: 10px;

      span {
        text-decoration-line: underline;
      }
    }

    .old-price {
      font-size: 15px;
      text-decoration: line-through;
      color: rgb(130, 134, 158);

      span {
        text-decoration-line: underline;
      }
    }

    h4 {
      font-size: 24px;
      padding: 0 0 10px 0;
    }

    .remaining-products {
      font-size: 14px;
      color: rgb(247, 130, 18);
      margin-left: 20px;
    }

    .amount-wrapper,
    .product-options {
      margin: 15px 0;
      display: flex;
      align-items: center;

      span {
        font-size: 15px;
        color: #787878;
        margin-right: 25px;
      }

      div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .option {
          margin-bottom: 5px;
          cursor: pointer;
        }
      }
    }

    .amount-wrapper {
      margin: 15px 0;
    }

    .product-options {
      span {
        margin-right: 55px;
      }

      .option {
        padding: 10px 22px;
        border: 1px solid rgba(0, 0, 0, 0.09);
        color: rgba(0, 0, 0, 0.8);
        background-color: $white;
        margin-right: 10px;

        &:focus {
          color: $primary-color;
          border: 1px solid $primary-color;
        }
      }
    }

    .buy-now-button,
    .add-to-cart-button {
      border: none;
      cursor: pointer;
      text-transform: capitalize;
      outline: none;
      font-size: 17px;
    }

    .buy-now-button {
      background-color: $primary-color;
      color: $white;
      padding: 10px 20px;

      &:hover {
        background-color: #42a7ff;
      }
    }

    .add-to-cart-button {
      color: $primary-color;
      background-color: $white;
      margin-right: 10px;
      padding: 8px 20px 9px 20px;
      border: 1px solid $primary-color;

      &:hover {
        background-color: #f8fcff;
      }
    }

    .decrease,
    .increase {
      padding: 5.3px;
      color: #959595;
      background-color: #fff;
      outline: none;
      border: 1px solid #ececec;
      cursor: pointer;
    }

    span {
      line-height: 25px;
    }

    .guarantee {
      margin: 10px 0;
      display: flex;
      align-items: center;
      font-size: 16px;

      span {
        display: flex;
        align-items: center;
        i {
          color: $primary-color;
          font-size: 20px;
          margin-right: 4px;
        }
      }

      p {
        margin-left: 0.5rem;
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 0.3px;
      }
    }
  }
}
