.empty-cart {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 16px;

  p {
    color: #848788;
    font-size: 16px;
    line-height: 24px;
    max-width: 80%;
    margin: 0 auto 14px;
  }

  button {
    padding: 6px 10px;
    font-size: 14px;
    background-color: #1a94ff;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 4px;
    margin-bottom: 50px;
  }

  svg {
    max-width: 40%;
    padding: 0;
    margin-bottom: 10px;
    #oval {
      -webkit-animation: plopp 4s ease-out infinite;
      animation: plopp 4s ease-out infinite;
      &:nth-child(1) {
        -webkit-animation-delay: -240ms;
        animation-delay: -240ms;
      }
      &:nth-child(2) {
        -webkit-animation-delay: -480ms;
        animation-delay: -480ms;
      }
      &:nth-child(3) {
        -webkit-animation-delay: -720ms;
        animation-delay: -720ms;
      }
      &:nth-child(4) {
        -webkit-animation-delay: -960ms;
        animation-delay: -960ms;
      }
      &:nth-child(5) {
        -webkit-animation-delay: -1200ms;
        animation-delay: -1200ms;
      }
      &:nth-child(6) {
        -webkit-animation-delay: -1440ms;
        animation-delay: -1440ms;
      }
      &:nth-child(7) {
        -webkit-animation-delay: -1680ms;
        animation-delay: -1680ms;
      }
      &:nth-child(8) {
        -webkit-animation-delay: -1920ms;
        animation-delay: -1920ms;
      }
      &:nth-child(9) {
        -webkit-animation-delay: -2160ms;
        animation-delay: -2160ms;
      }
      &:nth-child(10) {
        -webkit-animation-delay: -2400ms;
        animation-delay: -2400ms;
      }
      &:nth-child(11) {
        -webkit-animation-delay: -2640ms;
        animation-delay: -2640ms;
      }
      &:nth-child(12) {
        -webkit-animation-delay: -2880ms;
        animation-delay: -2880ms;
      }
      &:nth-child(13) {
        -webkit-animation-delay: -3120ms;
        animation-delay: -3120ms;
      }
      &:nth-child(14) {
        -webkit-animation-delay: -3360ms;
        animation-delay: -3360ms;
      }
      &:nth-child(15) {
        -webkit-animation-delay: -3600ms;
        animation-delay: -3600ms;
      }
      &:nth-child(16) {
        -webkit-animation-delay: -3840ms;
        animation-delay: -3840ms;
      }
    }
    #plus {
      -webkit-animation: plopp 4s ease-out infinite;
      animation: plopp 4s ease-out infinite;
      &:nth-child(1) {
        -webkit-animation-delay: -240ms;
        animation-delay: -240ms;
      }
      &:nth-child(2) {
        -webkit-animation-delay: -480ms;
        animation-delay: -480ms;
      }
      &:nth-child(3) {
        -webkit-animation-delay: -720ms;
        animation-delay: -720ms;
      }
      &:nth-child(4) {
        -webkit-animation-delay: -960ms;
        animation-delay: -960ms;
      }
      &:nth-child(5) {
        -webkit-animation-delay: -1200ms;
        animation-delay: -1200ms;
      }
      &:nth-child(6) {
        -webkit-animation-delay: -1440ms;
        animation-delay: -1440ms;
      }
      &:nth-child(7) {
        -webkit-animation-delay: -1680ms;
        animation-delay: -1680ms;
      }
      &:nth-child(8) {
        -webkit-animation-delay: -1920ms;
        animation-delay: -1920ms;
      }
      &:nth-child(9) {
        -webkit-animation-delay: -2160ms;
        animation-delay: -2160ms;
      }
      &:nth-child(10) {
        -webkit-animation-delay: -2400ms;
        animation-delay: -2400ms;
      }
      &:nth-child(11) {
        -webkit-animation-delay: -2640ms;
        animation-delay: -2640ms;
      }
      &:nth-child(12) {
        -webkit-animation-delay: -2880ms;
        animation-delay: -2880ms;
      }
      &:nth-child(13) {
        -webkit-animation-delay: -3120ms;
        animation-delay: -3120ms;
      }
      &:nth-child(14) {
        -webkit-animation-delay: -3360ms;
        animation-delay: -3360ms;
      }
      &:nth-child(15) {
        -webkit-animation-delay: -3600ms;
        animation-delay: -3600ms;
      }
      &:nth-child(16) {
        -webkit-animation-delay: -3840ms;
        animation-delay: -3840ms;
      }
    }
    #diamond {
      -webkit-animation: plopp 4s ease-out infinite;
      animation: plopp 4s ease-out infinite;
      &:nth-child(1) {
        -webkit-animation-delay: -240ms;
        animation-delay: -240ms;
      }
      &:nth-child(2) {
        -webkit-animation-delay: -480ms;
        animation-delay: -480ms;
      }
      &:nth-child(3) {
        -webkit-animation-delay: -720ms;
        animation-delay: -720ms;
      }
      &:nth-child(4) {
        -webkit-animation-delay: -960ms;
        animation-delay: -960ms;
      }
      &:nth-child(5) {
        -webkit-animation-delay: -1200ms;
        animation-delay: -1200ms;
      }
      &:nth-child(6) {
        -webkit-animation-delay: -1440ms;
        animation-delay: -1440ms;
      }
      &:nth-child(7) {
        -webkit-animation-delay: -1680ms;
        animation-delay: -1680ms;
      }
      &:nth-child(8) {
        -webkit-animation-delay: -1920ms;
        animation-delay: -1920ms;
      }
      &:nth-child(9) {
        -webkit-animation-delay: -2160ms;
        animation-delay: -2160ms;
      }
      &:nth-child(10) {
        -webkit-animation-delay: -2400ms;
        animation-delay: -2400ms;
      }
      &:nth-child(11) {
        -webkit-animation-delay: -2640ms;
        animation-delay: -2640ms;
      }
      &:nth-child(12) {
        -webkit-animation-delay: -2880ms;
        animation-delay: -2880ms;
      }
      &:nth-child(13) {
        -webkit-animation-delay: -3120ms;
        animation-delay: -3120ms;
      }
      &:nth-child(14) {
        -webkit-animation-delay: -3360ms;
        animation-delay: -3360ms;
      }
      &:nth-child(15) {
        -webkit-animation-delay: -3600ms;
        animation-delay: -3600ms;
      }
      &:nth-child(16) {
        -webkit-animation-delay: -3840ms;
        animation-delay: -3840ms;
      }
    }
    #bubble-rounded {
      -webkit-animation: plopp 4s ease-out infinite;
      animation: plopp 4s ease-out infinite;
      &:nth-child(1) {
        -webkit-animation-delay: -240ms;
        animation-delay: -240ms;
      }
      &:nth-child(2) {
        -webkit-animation-delay: -480ms;
        animation-delay: -480ms;
      }
      &:nth-child(3) {
        -webkit-animation-delay: -720ms;
        animation-delay: -720ms;
      }
      &:nth-child(4) {
        -webkit-animation-delay: -960ms;
        animation-delay: -960ms;
      }
      &:nth-child(5) {
        -webkit-animation-delay: -1200ms;
        animation-delay: -1200ms;
      }
      &:nth-child(6) {
        -webkit-animation-delay: -1440ms;
        animation-delay: -1440ms;
      }
      &:nth-child(7) {
        -webkit-animation-delay: -1680ms;
        animation-delay: -1680ms;
      }
      &:nth-child(8) {
        -webkit-animation-delay: -1920ms;
        animation-delay: -1920ms;
      }
      &:nth-child(9) {
        -webkit-animation-delay: -2160ms;
        animation-delay: -2160ms;
      }
      &:nth-child(10) {
        -webkit-animation-delay: -2400ms;
        animation-delay: -2400ms;
      }
      &:nth-child(11) {
        -webkit-animation-delay: -2640ms;
        animation-delay: -2640ms;
      }
      &:nth-child(12) {
        -webkit-animation-delay: -2880ms;
        animation-delay: -2880ms;
      }
      &:nth-child(13) {
        -webkit-animation-delay: -3120ms;
        animation-delay: -3120ms;
      }
      &:nth-child(14) {
        -webkit-animation-delay: -3360ms;
        animation-delay: -3360ms;
      }
      &:nth-child(15) {
        -webkit-animation-delay: -3600ms;
        animation-delay: -3600ms;
      }
      &:nth-child(16) {
        -webkit-animation-delay: -3840ms;
        animation-delay: -3840ms;
      }
    }
    #bg-line {
      &:nth-child(2) {
        fill-opacity: 0.3;
      }
      &:nth-child(3) {
        fill-opacity: 0.4;
      }
    }
  }
}

@-webkit-keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
@keyframes plopp {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
